<div class="list-container">
  <div class="list-header">
    <h1 *ngIf="!isDiscoverRecipesPage">My Recipes</h1>
    <h1 *ngIf="isDiscoverRecipesPage">Discover Recipes</h1>
  </div>

  <div *ngIf="recipes.length === 0" class="no-recipes">
    <div class="no-recipes-icon">🍜</div>
    <h2 *ngIf="!isDiscoverRecipesPage">No recipes found.</h2>
    <h2 *ngIf="isDiscoverRecipesPage">No recipes to discover.</h2>
    <p *ngIf="!isDiscoverRecipesPage">Get started by adding your first recipe!</p>
  </div>

  <div *ngIf="recipes.length > 0" class="recipe-grid">
    <div *ngFor="let recipe of recipes" class="recipe-card">
      <div class="card-header">
        <h3 class="recipe-title" >{{ recipe.name.toUpperCase() }}</h3>
        <p class="subtitle">Calories: {{ recipe.calories }} | Protein: {{ recipe.protein }}g</p>
      </div>
      <div class="card-content">
        <p class="description">Description: {{ recipe.description }}</p>
        <p> Ingredients: {{ recipe.ingredients }}</p>
        <p>Steps:{{ recipe.steps }}</p>
        <p *ngIf="recipe.allergyInfo"><strong>Allergy Info:</strong> {{ recipe.allergyInfo }}</p>
      </div>
      <div class="card-actions" *ngIf="isRecipeOwner(recipe) && !isDiscoverRecipesPage">
        <button class="icon-button" (click)="editRecipe(recipe.id)" title="Edit Recipe">
  <img src="assets/images/edit.png" width="20" height="20" />
</button>

        <button class="icon-button" (click)="deleteRecipe(recipe.id)" title="Delete Recipe">
          <img src="assets/images/del.png" width="20" height="20" />
        </button>
      </div>
    </div>
  </div>
</div>
