<header class="custom-toolbar">
  <a routerLink="/" class="logo-link">
     <img src="assets/images/chef-logo-1.png" alt="Food Gyan Logo" class="logo-icon" />
    <span class="logo-text">FOOD GYAN</span>
  </a>

    <div class="spacer"></div>

    <ng-container *ngIf="authService.isLoggedIn(); else showLogin">
    <nav class="nav-links">
      <a routerLink="/recipes" class="custom-btn">MY RECIPES </a>
      <a (click)="navigateToDiscoverRecipes()" class="custom-btn">DISCOVER RECIPES</a>
      <a routerLink="/recipes/new" class="custom-btn">ADD RECIPE</a>
    </nav>

    <div class="user-info">
      <span class="user-icon-and-name">
      <span class="user-icon">👤</span>
      <span class="user-name">{{ authService.getCurrentUsername() }}</span>
      </span>

      <button (click)="logout()" class="logout-btn" >⍈</button>
    </div>
  </ng-container>
  
  <ng-template #showLogin>
    <nav class="nav-links">
      <a routerLink="/login" class="custom-btn">LOGIN</a>
      <a routerLink="/register" class="custom-btn">REGISTER</a>
    </nav>
  </ng-template>

</header>

<main class="container mt-4">
  <router-outlet></router-outlet>
</main>
