.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  box-sizing: border-box;
}

.form-card {
  width: 100%;
  max-width: 400px;
  padding: 32px;
  background: #F2F0EA;
  border-radius: 8px;
  border: 2px solid #F2F0EA;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, border 0.3s ease, transform 0.3s ease;
}
.form-card:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
}


.form-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #FF921C;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-group input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #FF921C;
  border: none;

  border-radius: 8px;
  cursor: pointer;
  font-family: "Lilita One", sans-serif;
}

#email, #password, #username{
font-family: "Lilita One", sans-serif;
border-radius: 8px;
}

button:hover:not(:disabled) {
  background-color: #FF921C;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.error {
  color: #FF921C;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.form-footer {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.form-footer a {
  font-weight: 500;
}
